.box{
    max-width: 700px;
    width: 100%;
    margin: 10% 15px;
    position: relative;
    z-index: 2;
    padding: 30px;
    background: #fffcfc;
    border-radius: 6px;
    text-align: center;

    @media only screen and (max-width: 480px) {
        padding: 30px 10px;
    }

    &-form{

        &-input{
            padding: 10px 15px;
            border: 2px solid #0f4a3f;
            border-radius: 4px;
            font: 18px/18px Arial, sans-serif;
            width: 100%;
            max-width: 400px;
        }
        &-button{
            padding: 12px 50px;
            border: 2px solid #0f4a3f;
            border-radius: 4px;
            background: #0f4a3f;
            color: #fff;
            font: 18px/18px Arial, sans-serif;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            margin: 30px auto;
            transition: all 0.5s;

            &:hover{
                background: #fff;
                color: #0f4a3f;
                transition: all 0.5s;
            }
        }
    }

    
        
}